body {
    box-sizing: border-box;
    font-family: Raleway;
    background-image: url(./images/bg.jpg);
    background-color: rgb(255 255 255 / 90%);
    background-blend-mode: overlay;
    background-attachment: fixed;
    overflow-x: hidden;
    text-align: center;
    font-size: 16px;
}

header {
    width: 100vw;
    height: 3.5em;
    background-color: #111111;
    color: white;
    font-size: 14px;
    font-weight: 600;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 20px;
}

.menu {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.menu h4{
    padding-left: 0.5em;
}

.menu:hover {
    color: white;
}

.nav {
    display: none;
}

.menu:hover .nav {
    background-color: #111111;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    right: 0;
    padding: 3em 2em;
}

.list-item {
    font-weight: 400;
    list-style-type: none;
    padding: 1em 0;
}

.list-item:not(:last-child) {
    border-bottom: 1px solid #555555;
}

.link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.banner {
    font-size: 58px;
    overflow: hidden;
    width: 100vw;
    height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.banner-article{
    position: relative;
    z-index: 2;
}

.banner h1 {
    color: white;
    font-weight: 300;
    padding: 0.7em 0 0.45em 0;
}

.banner p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.37em;
    line-height: 1.65em;
    font-weight: 400;
    max-width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.banner video {
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
    z-index: -1;
}

.banner img{
    display: none;
}

.banner::before,.banner::after {
    display: block;
    content: '';
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner::before {
    background-color: #111111;
}

.banner::after {
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
}

.features article {
    width: 100vw;
    height: 40vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-size: 20px;
}

.features h2 {
    color: #555555;
    font-weight: 300;
    font-size: 1.65em;
    line-height: 1.3em;
    padding: 2em 0 0.5em 0;
}

.features p {
    color: #444444;
    max-width: 55%;
    font-size: 0.75em;
    line-height: 1.5em;
}

.cards {
    display: grid;
    grid-template-columns: 3fr 4fr 0.5fr 4fr 0.5fr 4fr 3fr;
    grid-template-rows: 5fr 1fr 5fr 2fr;
    width: 100%;
    height: 120vh;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #555555;
}

.cards i {
    color: #ce1b28;
    font-size: 4em;
}

.cards h3 {
    padding: 2em 0;
    font-weight: 300;
}

.cards p {
    font-size: 0.9em;
    font-weight: 400;
    max-width: 77%;
}

.card1 {
    grid-area: 1/2/2/3;
}

.card2 {
    grid-area: 1/4/2/5;
}

.card3 {
    grid-area: 1/6/2/7;
}

.card4 {
    grid-area: 3/2/4/3;
}

.card5 {
    grid-area: 3/4/4/5;
}

.card6 {
    grid-area: 3/6/4/7;
}

.parallax {
    background-color: #ce1b28;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(./images/cta01.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax h2 {
    font-size: 2em;
    line-height: 1.5em;
    color: white;
    font-weight: 300;
}

.parallax p {
    color: rgba(255, 255, 255, 0.75);
    width: 70vw;
    font-size: 0.9em;
    line-height: 1.6em;
    padding-top: 1%;
}

.feedback-cards {
    display: grid;
    grid-template-columns: 3fr 4fr 0.5fr 4fr 0.5fr 4fr 3fr;
    grid-template-rows: 5fr 2fr;
    width: 100vw;
    height: 60vh;
}

.feedback {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback p {
    border-left: solid 0.5em;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.5em 2.2em;
    padding-left: 2em;
    max-width: 75%;
    border-left-color: rgba(0, 0, 0, 0.25);
    text-align: left;
}

.person img {
    border-radius: 50%;
    width: 3.2em;
    height: 3.2em;
    object-fit: cover;
    object-position: center;
}

.person {
    padding: 2em 0 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
}

.person h6 {
    align-self: center;
    font-size: 0.7em;
}

.red {
    color: #ce1b28;
    font-weight: 600;
}

footer {
    background-color: #111111;
    height: 65vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 8fr 1fr 4fr 1fr 3fr 4fr;
    grid-template-rows: 3fr 6fr 0.5fr 0.5fr 3fr;
    border-bottom: 1px solid #444444;
    font-size: 18px;
}

footer h4, h5 {
    color: white;
    font-weight: 300;
    text-align: left;
}

footer h4{
    font-size: 1em;
}

footer h5{
    font-size: 0.85em;
}

footer p, li {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    line-height: 1.5em;
    padding-top: 1.7em;
    font-size: 0.83em;
    font-weight: 300;
}

.footer-article {
    grid-area: 2/2/3/3;
}

.footer-ul1 {
    grid-area: 2/4/3/5;
}

.footer-ul2 {
    grid-area: 2/6/3/7;
}

footer ul {
    padding-top: 1.6em;
}

.footer-bottom {
    grid-area: 4/2/5/7;
}

.footer-ul1 li:not(:first-child) {
    border-top: 1px solid #444444;
}

.footer-ul1 li {
    padding: 0.6em 0;
}

.footer-ul2 li {
    padding: 0.45em 0;
}

.fa-brands {
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-right: 1em;
    width: 1.7em;
    height: 1.7em;
    line-height: 2em;
    padding: 0.35em;
}

.fa-facebook-f{
    padding-left: 0.5em;
}

.footer-bottom h6 {
    color: #555555;
    font-size: 0.75em;
    padding-top: 0.5em;
    font-weight: 500;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid #444444;
}
